/* Reset body and such
   via http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------End Reset----- */

body{
	height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #000000;
	color: white;
}

.body_wrapper{
  	position: relative;
	margin: auto;
	text-align: center;
	max-width: 650px;
	width: 650px;
}

/* Lines around section headers */
.header_lined{
	display: grid;
	width: 70%;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: 20px;
	margin: auto;
}
.header_lined:before,
.header_lined:after {
    content: '';
    border-top: 1px solid #777777;
}

p {
	font-family: 'Raleway', sans-serif;
	/* font-size: 14pt; */
}

h1{
	font-family: 'Gruppo', cursive;
}

h2{
	font-size: 2em;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 1em;
}

canvas{
	position: fixed;
	top: 0;
	left: 0;
}

.header_section{
	width: 100%;
	height: 100%;
	position: relative;
}

#header{
	color: rgb(255, 255, 255);
	z-index: 8000;
	width: inherit;
	padding-bottom: 1em;
	padding-top: 0.5em;
	
}

.fixed_header{
	position: sticky;
	top: 0;
	left: 50%;
  	/* transform: translate(-50%, 0); */
}

#header.solid_background {
	background-color: #000000;
}

.header_bground {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
}

#header h1 {
	font-size: 5.5em;
	font-family: 'Gruppo', sans-serif;
	margin-bottom: 0.1em;
	padding-left: 15px;
}

#header span {
	font-family: 'Raleway', sans-serif;
	padding-left: 15px;
}

#header_links {
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#header_links a{
	font-family: 'Gruppo', sans-serif;
	flex-grow: 1;
	font-size: 1.5em;
}

#header_links a{
	color: rgb(134, 134, 134);
	text-decoration: none;
}

#header_links a:hover{
	color: #FFFFFF;
	cursor: pointer;
}

.clear_space{
	background: rgb(0,0,0,0);
}

.thirty_perc{
	height: 30%;
}

.fifty_perc{
	height: 50%;
}

.return_to_earth{
	height: 300px;
	/* Fallback to transparent and stars instead of black */
	/* (Although if your browser can't do a gradient, 3D canvas seems unlikely) */
	background: rgb(0,0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#header_spacer{
	height: 150px;
	background: rgb(0,0,0);
}

/* Offset Anchor Tags to account for header */

.anchor{
	display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* Five Dots Iconography for consistent color scheme*/
.dots_container{
	background-color: #000000;
	margin-top: 1em;
	margin-bottom: 2em;
}

.dots_logo{
	display: flex;
	justify-content: space-evenly;
	width: 20%;
	margin:auto;
}

.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
}


/* About Section */
.about_section{
	min-height: 400px;
	background: rgb(0,0,0);
}

.about_section img{
	width: 40%;
	margin: auto;
	margin-bottom: -7%;
}

.about_content{
	display: flex;
	flex-direction: column;
}

.about_text{
	padding-top: 2em;
	margin: 0 1em 3em 1em
}



/* Projects Section */
.projects_section{
	width: 100%;
	background-color: #000000;
	padding-bottom: 5em;
}

.project_desc_wrapper{
	position: relative;
	height: 100%;
	display: flex;
}

.project_desc{
	margin-left: 1em;
	margin-right: 1em;
	margin-top: auto;
	margin-bottom: auto;
}

.project_desc h3{
	font-family: 'Lalezar', sans-serif;
	font-size: 2.5em;
	text-shadow: 3px 3px #00000044;
}

.project_desc p{
	font-family: 'Inconsolata', monospace;
	color: #000000;
}

a.learn_more{
	color: red;
	text-decoration: none;
	font-size: 1.1em;
	font-family: 'Gruppo', monospace;
	line-height: 2em;
	white-space: nowrap;
	font-weight: 500;
}

.project_desc a.learn_more{
	color: #000000AA;
}

a.learn_more:hover{
	font-weight: 900;
	font-size: 1.1em;
	color: #000000FF;
}

.projects_block{
	height: 300px;
	border-top: 5px inset rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.projects_block > div {
	flex-basis: 50%;
}

.project_image{
	position: relative;
	text-align: center;
}

/* Use dark mix by default; light color combos are defined in the seasonal colors at the bottom of this file*/
.project_image{
	mix-blend-mode: luminosity;
	opacity: 100%;
}

.project_image > img{
	max-width: 100%;
	margin: auto;
}

.projects_list div:nth-child(4n - 1){
	flex-direction: row-reverse;
	text-align: right;
}

.projects_list div:nth-child(4n - 1) a::after{
	content: " <<";
	font-size: 1.1em;
}

.projects_list div:nth-child(4n - 3){
	text-align: left;
}

.projects_list div:nth-child(4n - 3) a::before{
	content: ">> ";
	font-size: 1.1em;
}


.projects_list div:nth-child(4n - 1) .project_image{
	margin-right: 1em;
}

.projects_list div:nth-child(4n - 3) .project_image{
	margin-left: 1em;
}

.projects_list:nth-child(4n+0) img{
	
	left: 0;
}


.panel_edge{
	background-color: #FFFFFF;
	height: 0.75em;
	width:100%;
	display: block;
	visibility: hidden;
}


.contact_section{
	background-color: #000000;
}

img.email{
	padding-bottom: 1em;
}

.icon-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 1em;
	padding-bottom: 5em;
}

.icon-row i{
	font-size: 3em;
}

.icon-row a:hover{
	color:rgb(255, 255, 255);
}


/* Footer */

#footer{
	height: 200px;
	color: #FFF5DD;
	position: relative;
	z-index: 8000;
}




/* --------- Seasonal Colors ------------  */

/* Define colors that will need light image overlays */
/* At some point I should have caved and gone to SASS, but here we are, manually writing combos*/
.light>.project_image{
	mix-blend-mode: screen;
	opacity: 100%;
}
.light a.learn_more{
	color: #FFFFFFAA;
}
.light a.learn_more:hover{
	color: #FFFFFFFF;
}
.light>.project_desc p{
	color: #ffffff;
}

/* Default (was going to be summer, but the flashing update is distracting*/
.default_color_1{
	background-color: #696969;
}
.default_color_text_1{
	color: #696969;
}
.default_color_2{
	background-color: #4d4d4d;
}
.default_color_text_2{
	color: #4d4d4d;
}
.default_color_3{
	background-color: #808080;
}
.default_color_text_3{
	color: #808080;
}
.default_color_4{
	background-color: #777777;
}
.default_color_text_4{
	color: #777777;
}
.default_color_5{
	background-color: #3a3a3a;
}
.default_color_text_5{
	color: #3a3a3a;
}

/* Summer */
.summer_color_1{
	background-color: #540D6E;
}
.summer_color_text_1{
	color: #540D6E;
}
.summer_color_2{
	background-color: #EE4266;
}
.summer_color_text_2{
	color: #EE4266;
}
.summer_color_3{
	background-color: #FFD23F;
}
.summer_color_text_3{
	color: #FFD23F;
}
.summer_color_4{
	background-color: #3BCEAC;
}
.summer_color_text_4{
	color: #3BCEAC;
}
.summer_color_5{
	background-color: #0EAD69;
}
.summer_color_text_5{
	color: #0EAD69;
}



/* Spring */
.spring_color_1{
	background-color: #d84a79;
}
.spring_color_text_1{
	color: #d84a79;
}
.spring_color_2{
	background-color: #afc96d;
}
.spring_color_text_2{
	color: #afc96d;
}
.spring_color_3{
	background-color: #97c6dd;
}
.spring_color_text_3{
	color: #97c6dd;
}
.spring_color_4{
	background-color: #5cc5c5;
}
.spring_color_text_4{
	color: #5cc5c5;
}
.spring_color_5{
	background-color: #C492B1;
}
.spring_color_text_5{
	color: #C492B1;
}


/* Winter */
.winter_color_1{
	background-color: #355070;
}
.winter_color_text_1{
	color: #355070;
}
.winter_color_2{
	background-color: #B56576;
}
.winter_color_text_2{
	color: #B56576;
}
.winter_color_3{
	background-color: #EAAC8B;
}
.winter_color_text_3{
	color: #EAAC8B;
}
.winter_color_4{
	background-color: #6D597A;
}
.winter_color_text_4{
	color: #6D597A;
}
.winter_color_5{
	background-color: #587D71;
}
.winter_color_text_5{
	color: #587D71;
}



/* Autumn/Hiking */
.autumn_color_1{
	background-color: #793a24;
}
.autumn_color_text_1{
	color: #793a24;
}
.autumn_color_2{
	background-color: #FE7F2D;
}
.autumn_color_text_2{
	color: #FE7F2D;
}
.autumn_color_3{
	background-color: #FCCA46;
}
.autumn_color_text_3{
	color: #FCCA46;
}
.autumn_color_4{
	background-color: #619B8A;
}
.autumn_color_text_4{
	color: #619B8A;
}
.autumn_color_5{
	background-color: #A1C181;
}
.autumn_color_text_5{
	color: #A1C181;
}


/* Shawn */
.shawn_color_1{
	background-color: #6B52B0;
}
.shawn_color_text_1{
	color: #6B52B0;
}
.shawn_color_2{
	background-color: #BEC1FD;
}
.shawn_color_text_2{
	color: #BEC1FD;
}
.shawn_color_3{
	background-color: #8568B8;
}
.shawn_color_text_3{
	color: #8568B8;
}
.shawn_color_4{
	background-color: #C4C4C4;
}
.shawn_color_text_4{
	color: #C4C4C4;
}
.shawn_color_5{
	background-color: #7B6CC3;
}
.shawn_color_text_5{
	color: #7B6CC3;
}


/* Christmas */
.xmas_color_1{
	background-color: #3B6A39;
}
.xmas_color_text_1{
	color: #3B6A39;
}
.xmas_color_2{
	background-color: #C32222;
}
.xmas_color_text_2{
	color: #C32222;
}
.xmas_color_3{
	background-color: #F1AF46;
}
.xmas_color_text_3{
	color: #F1AF46;
}
.xmas_color_4{
	background-color: #4E9764;
}
.xmas_color_text_4{
	color: #4E9764;
}
.xmas_color_5{
	background-color: #A23E3E;
}
.xmas_color_text_5{
	color: #A23E3E;
}

/* Halloween */
.halloween_color_1{
	background-color: #FA5923;
}
.halloween_color_text_1{
	color: #FA5923;
}
.halloween_color_2{
	background-color: #00735C;
}
.halloween_color_text_2{
	color: #00735C;
}
.halloween_color_3{
	background-color: #EDB637;
}
.halloween_color_text_3{
	color: #EDB637;
}
.halloween_color_4{
	background-color: #C5BA9F;
}
.halloween_color_text_4{
	color: #C5BA9F;
}
.halloween_color_5{
	background-color: #73366F;
}
.halloween_color_text_5{
	color: #73366F;
}

/* UTK  (Gets bonus title color changes for full effect) */
.ut_color_1{
	background-color: #FF8200;
}
.ut_color_text_1{
	color: #FF8200;
}
.ut_color_2{
	background-color: #fff;
}
.ut_color_2 h3{
	color: #FF8200;
}
.ut_color_text_2{
	color: #fff;
}
.ut_color_3{
	background-color: #FF8200;
}
.ut_color_text_3{
	color: #FF8200;
}
.ut_color_4{
	background-color: #fff;
}
.ut_color_4 h3{
	color: #FF8200;
}
.ut_color_text_4{
	color: #fff;
}
.ut_color_5{
	background-color: #FF8200;
}
.ut_color_text_5{
	color: #FF8200;
}