<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Shawn Steffey" />
   <link rel="stylesheet" href="/css/blogArchive.css" type="text/css" media="screen, projection" />
</head>
<body>
<div id="outer">
  <div class="container_12">
    <div id="header" class="head">
      <h1><a href="/Blog.html">Sketchy Bits</a></h1>
      <div id="subtitle" class="subtitle">A blog of code and doodlings</div>
	</div>
	<div id="main" class="contents">
      <hr />
      {{ content }}
      <hr />
    </div>
	<div id="links" class="footerLinks">
      <a href="/Bio.html">About</a>
	  <a>|</a>
      <a href="/index.html">Home</a>
    </div>
  </div>
</div>
</body>
</html>